<div class="mt-auto container-xl bg-dark bg-gradient pt-3 text-white">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <p>Copyright &copy; 2021 - My Salon</p>
      </div>
    </div>
  </div>
</div>

<script src="javascripts/jquery-1.7.1.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="javascripts/bootstrap.bundle.min.js"></script>
<script src="javascripts/datepicker.js"></script>
<script src="javascripts/custon.js"></script>
