<div class="row">
  <div class="col-12 mb-5 custonbgy text-dark border-bottom shadow">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><h2 class="logo">My Salon</h2></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/"
            ><img
              src="./images/house.svg"
              class="line-height-0"
              alt=""
              width="20"
              height="20"
              title="Icons"
            />
            Home</a
          >
          <a class="nav-item nav-link" href="/the-stylist"
            ><img
              src="./images/person-square.svg"
              class="line-height-0"
              alt=""
              width="20"
              height="20"
              title="Icons"
            />
            The Stylist</a
          >
          <a class="nav-item nav-link" href="/services"
            ><img
              src="./images/grid.svg"
              class="line-height-0"
              alt=""
              width="20"
              height="20"
              title="Icons"
            />
            Services</a
          >
          <a class="nav-item nav-link" href="/book-online"
            ><img
              src="./images/table.svg"
              class="line-height-0"
              alt=""
              width="20"
              height="20"
              title="Icons"
            />
            Book Online</a
          >
          <a class="nav-item nav-link" href="/contact-us"
            ><img
              src="./images/chat-square-text.svg"
              class="line-height-0"
              alt=""
              width="20"
              height="20"
              title="Icons"
            />
            Contact us</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
