<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="book-online">
    <div class="container-xl">
      <!-- Header-->
      <%- include('../partials/header'); %>
      <!-- Main -->
      <div class="row">
        <div class="col mb-5 text-center">
          <h2 class="border-top border-bottom bg-light mb-0">
            Book an Appointment
          </h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-8 py-3 custonbgb shadow">
          <h4 class="text-decoration-underline pt-3">Option 1:</h4>
          <p class="text-muted">
            Choose a day and time from the next 7 calendar days:
          </p>
        </div>
        <div class="col-4 py-3 custonbgb shadow">
          <h4 class="text-decoration-underline pt-3">Option 2:</h4>

          <!-- Date Picker Input -->
          <div class="wrapper">
            <label>
              <input
                id="input-pop"
                type="text"
                class="dateselect"
                placeholder="Click and chose a day"
                required="required"
              />
              <span
                ><img
                  src="images/table.svg"
                  class="line-height-0"
                  alt=""
                  width="20"
                  height="20"
                  title="Chose a day"
              /></span>
            </label>
          </div>
          <!-- End ate Picker Input -->
        </div>
        <!-- Force next columns to break to new line -->
        <div class="w-100 mt-1"></div>
        <div class="col-12 py-3 custonbgb shadow" id="weekHours"></div>
      </div>

      <div class="row mb-5">
        <div class="col text-center py-3 custonbgy shadow">
          <h4>Appointments</h4>
          <p class="fw-normal">
            Please arrive 15 mins prior to your appointment to ensure you
            receive your full service. We recommend that you book your next
            appointment prior to leaving the salon so that we can be sure to
            accommodate your schedule.
          </p>
        </div>
      </div>

      <!-- <FULL SCREEN MODAL - OPTION 1> -->
      <div
        class="modal fade"
        id="fullScreenWeekModal"
        tabindex="-1"
        aria-labelledby="fullScreenModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-body container-xl">
              <div class="row">
                <div class="col-12">
                  <div class="card mb-1 text-center bg-light shadow">
                    <div class="card-header custonbgp" id="modal-card-header">
                      date
                    </div>
                    <div class="card-body">
                      <form class="row g-3 needs-validation" novalidate>
                        <h6>Provide your information:</h6>
                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">First name:</span>
                            <input
                              type="text"
                              class="form-control"
                              id="userFirstName"
                              value=""
                              name="userFirstName"
                              minlength="3"
                              pattern="^[a-zA-Z]*$"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please enter with your first name.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">Last name:</span>
                            <input
                              type="text"
                              class="form-control"
                              id="userLasttName"
                              value=""
                              name="userLasttName"
                              minlength="3"
                              pattern="^[a-zA-Z]*$"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please enter with your last name.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">Email adress:</span>
                            <input
                              type="email"
                              class="form-control"
                              id="userEmail"
                              value=""
                              name="userEmail"
                              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please provide a valid email address.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">Phone number:</span>
                            <input
                              type="tel"
                              class="form-control"
                              id="userPhoneNumber"
                              value=""
                              name="userPhoneNumber"
                              minlength="10"
                              pattern="[0-9]*"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please provide a valid phone number.
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">
                            Book now
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer custonbgb">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- </FULL SCREEN MODAL - OPTION 1> -->

      <!-- <FULL SCREEN MODAL - OPTION 2> -->
      <div
        class="modal fade"
        id="fullScreenModal"
        tabindex="-1"
        aria-labelledby="fullScreenModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-body container-xl">
              <div class="row">
                <div class="col-12">
                  <div class="card mb-1 text-center bg-light shadow">
                    <div class="card-header custonbgp h5" id="dateTitle">
                      Date
                    </div>
                    <div class="card-body">
                      <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                          <h6>Chose a time:</h6>
                          <hr />
                          <div
                            class="form-check ps-0"
                            id="form-check-hours"
                          ></div>
                          <hr />
                        </div>
                        <h6>Provide your information:</h6>
                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">First name:</span>
                            <input
                              type="text"
                              class="form-control"
                              id="userFirstName"
                              value=""
                              name="userFirstName"
                              minlength="3"
                              pattern="^[a-zA-Z]*$"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please enter with your first name.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">Last name:</span>
                            <input
                              type="text"
                              class="form-control"
                              id="userLasttName"
                              value=""
                              name="userLasttName"
                              minlength="3"
                              pattern="^[a-zA-Z]*$"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please enter with your last name.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">Email adress:</span>
                            <input
                              type="email"
                              class="form-control"
                              id="userEmail"
                              value=""
                              name="userEmail"
                              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please provide a valid email address.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="input-group has-validation">
                            <span class="input-group-text">Phone number:</span>
                            <input
                              type="tel"
                              class="form-control"
                              id="userPhoneNumber"
                              name="userPhoneNumber"
                              minlength="10"
                              pattern="[0-9]*"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                              Please provide a valid phone number.
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">
                            Book now
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer custonbgb">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- </ULL SCREEN MODAL - OPTION 2> -->
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
  </body>
</html>
