<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="home">
    <div class="container-xl">
      <!-- Header-->
      <%- include('../partials/header'); %>
      <!-- Main -->
      <div class="row mb-5">
        <div class="col-6 d-flex justify-content-center align-items-center">
          <div>
            <h1>Top Choice Award City Salon</h1>
            <p>
              <em
                >When it comes to your hair...We VISUALIZE it. We DESIGN it. And
                it becomes FASHION.</em
              >
            </p>
            <p class="fw-normal">
              As a top rated City Salon, we have established a strong presence
              in this location and the surrounding area communities of the City.
              With our award winning performances, artistic photo shoots and
              exceptional hair designs, we provide our guests with the highest
              level of fashionable hair styles.
            </p>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">
          <img
            src="./images/pexels-home01.jpg"
            class="img-fluid img-thumbnail shadow"
            alt="Salon Home Page"
          />
        </div>
      </div>

      <div class="row">
        <div class="col py-5 text-center">
          <h2 class="border-top border-bottom bg-light">
            Policies & Procedures
          </h2>
        </div>
      </div>

      <div class="row polices row-cols-3 custonbgb shadow">
        <div class="col">
          <hr />
          <h4>Children</h4>
          <p>
            We welcome children to the salon, provided a parent or guardian be
            actively watching them at all times. This policy is in place to
            ensure your child's safety from hazards such as hot tools, sharp
            tools and dangerous chemicals present in the salon at all times.
          </p>
        </div>
        <div class="col">
          <hr />
          <h4>Parking</h4>
          <p>
            Street parking available on John Doe ave and adjacent streets.
            Parking is also sometimes available on Sir John Franklin Rd
            alongside the railway tracks. Please do not park in any nearby lots
            (John Doe animal hospital, or Jn's/RBC) as you risk being towed.
          </p>
        </div>
        <div class="col">
          <hr />
          <h4>Cancellations/No Shows</h4>
          <p>
            Out of respect for your stylist we ask that you give a minimum of 24
            hr notice for all cancellations. Cancellations without 24hr
            notice/no shows will incur a fee calculated at 50% of the service
            cost originally booked.
          </p>
        </div>

        <div class="col">
          <hr />
          <h4>Payments and Exchanges</h4>
          <p>
            We accept Visa, MasterCard, debit, and cash. If you are unhappy with
            a product you purchased, we will happily exchange it for you
            provided it is at least 70% full with its original contents.
          </p>
          <hr />
        </div>
        <div class="col">
          <hr />
          <h4>Refunds</h4>
          <p>
            We do not offer refunds on services. If you are unhappy with your
            service please consult with your stylist. 'Redos' and/or fixes will
            only be performed by the stylist by which the original appointment
            was made with.
          </p>
          <hr />
        </div>
        <div class="col">
          <hr />
          <h4>Deposits</h4>
          <p>
            Upon booking certain high value services a stylist may ask you for a
            deposit. This may include, but is not limited to: colours,
            highlights, extensions, and bridal party bookings.
          </p>
          <hr />
        </div>
      </div>

      <div class="row my-5">
        <div class="col border text-center my-5 py-3 custonbgp shadow">
          <h2>Our Mission</h2>
          <p>
            <em class="fw-normal">
              We strive to make each and every guest leave the loft feeling
              great. Catching up with our clients, having fun and making people
              feel fabulous is our passion. We love to keep up with the latest
              beauty trends and we are wild about education.
            </em>
          </p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer'); %>
  </body>
</html>
