<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="services">
    <div class="container-xl">
      <!-- Header-->
      <%- include('../partials/header'); %>

      <!-- Main -->
      <div class="row">
        <div class="col pb-2 text-center">
          <h2 class="border-top border-bottom bg-light">
            Our Haircut Types, Services and Styles
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-center py-3 border-bottom">Haircut style for Men</h4>
        </div>
      </div>

      <div class="row services row-cols-2 row-cols-md-4 shadow mb-2">
        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services01.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Bald Fade</h5>
          <p>
            It sleek look that adds a smart appearance and can be paired with a
            wide range of cuts. Options are a low bald fade, understated look or
            a high bald fade for contrast.
          </p>
        </div>
        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services02.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Bowl Cut</h5>
          <p>
            the style features a straight cut fringe with the sides and back of
            the hair cut to the same length. Today, the modern bowl cut is less
            severe undercut.
          </p>
        </div>
        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services03.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Burst Fade</h5>
          <p>
            The look can be defined by the hair tapering around the ear and the
            back of the head, creating a rounded, semi-circular appearance and
            longer at the neck.
          </p>
        </div>

        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services04.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Faux Hawk</h5>
          <p>
            It is emulate a great modern interpretation of the classic punk
            trend. The look features short sides and a longer strip of hair on
            top that is styled upwards.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-center py-3 border-bottom">
            Haircut style for Woman
          </h4>
        </div>
      </div>

      <div class="row services row-cols-2 row-cols-md-4 shadow mb-2">
        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services05.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Long Shag</h5>
          <p>
            It adds layers and movement showing dimension while taking some of
            the weight out, making a long shag haircut ideal for those with
            thicker hair.
          </p>
        </div>
        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services06.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Short Shag</h5>
          <p>
            It is timelessly chic! Can be also adapted to suit most face shapes.
            Depending on the hair length, the placement of the layers, and also
            whether you add a fringe.
          </p>
        </div>

        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services07.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Straight Hair</h5>
          <p>
            The original shag haircut was on straight hair, so the layers are
            the most visible on ladies with this hair type. For that reason, it
            also a looks great on fine hair.
          </p>
        </div>

        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services08.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Blunt Bangs</h5>
          <p>
            The shag hairstyle is created with choppy layers and fullness at the
            crown. It can be also cut on various hair textures and adapted to
            different lengths.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-center py-3 border-bottom">
            Haircut style for Children and Seniors
          </h4>
        </div>
      </div>

      <div class="row services row-cols-2 row-cols-md-4 shadow mb-2">
        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services09.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Comb Over</h5>
          <p>
            The comb over for kids is one of the most versatile and best
            haircuts to get. Specifically, the comb over fade provides the
            foundation to a number of hairstyles.
          </p>
        </div>

        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services10.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Angled Lob</h5>
          <p>
            It is a simple cut that will still look great on most textures. With
            short hair, try a bob that’s cut at an angle. The style is sure to
            please you and your young girl!
          </p>
        </div>

        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services11.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Blocked Hairline</h5>
          <p>
            It is squared and a good cut for those with thin necks. However, if
            you have a thicker neck, this can add even more width to your
            overall look from the back.
          </p>
        </div>

        <div class="col">
          <hr />
          <img
            class="card-img-top"
            src="images/pexels-services12.jpg"
            alt="Our Service"
          />
          <hr />
          <h5>Elegant Chignon</h5>
          <p>
            Updos with tucked in ends, such as low buns, chignons and French
            knots look elegant and can be worn as a casual or formal hairstyle.
            It is classic and conservative.
          </p>
        </div>
      </div>

      <div class="row my-5 custonbgb my-5 py-3 border border-dark bs-dashed">
        <div class="col-md-4">
          <img
            class="card-img-top"
            src="images/pexels-services13.jpg"
            alt="Our Service"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">New client offer</h3>
            <p class="card-text">
              <em class="fw-normal">
                Is this your first visit to My Salon? We would like to welcome
                you with a special offer. Simply print and present this voucher
                to receive $15.00 off hair services at your first appointment.
              </em>
            </p>
            <p class="card-text">
              <small class="text-muted fw-light"
                >* Vouchers cannot be used in conjunction with any other offers,
                special promotions or discounts.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer'); %>
  </body>
</html>
