<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="the-stylist">
    <div class="container-xl">
      <!-- Header-->
      <%- include('../partials/header'); %>

      <!-- Main -->
      <div class="row">
        <div class="col pb-5 text-center">
          <h2 class="border-top border-bottom bg-light mb-0">
            Meet the Stylist
          </h2>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col border text-center py-3 custonbgb shadow">
          <h4>Educated and award winning stylist with incredible talent.</h4>
          <p>
            <em class="fw-normal">
              With awards in the hair industry and extensive advanced education
              in colours, cuts, texture and design, a creative hair stylist have
              the ability to enhance and nurture ones own personal style. These
              skills are transferred to our clients giving them on trend,
              sophisticated and contemporary looks highlighted by exceptional
              service
            </em>
          </p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-6 d-flex justify-content-center align-items-center">
          <img
            src="images/pexels-the-stylist01.jpg"
            class="img-fluid img-thumbnail shadow"
            alt="Salon Home Page"
          />
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">
          <div class="custonbgp p-5 shadow">
            <h3>Angelina Saintagostino</h3>
            <hr />
            <p class="fw-normal">
              I’m proud to be the owner of My Salon, I’ve had a passion for this
              industry for over 10 yrs. Over the course of my career, I have
              been fortunate enough to meet, be inspired, and influenced by
              countless industry leaders.
            </p>

            <p class="fw-normal">
              My philosophy is the same with a “hair artist.” It’s not only what
              we create but what we reveal as a style for our clients.
            </p>
            <p class="fw-normal">
              My favourite aspect of working in the hair industry is having so
              many opportunities to learn from the talented people around me. I
              think one of the most important parts of being a successful
              stylist is to always be open to learning something new so that I
              can continue offering something fresh and current to my clients.
              Some of my most memorable experiences have been working on
              fashion/hair shows and photo shoots with my peers.
            </p>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col text-center py-3 custonbgy shadow">
          <h4>Seeking hairstyling appentice</h4>
          <p class="fw-normal">
            If you have a deep passion for your craft and are looking to expand
            your skills, our salon may be just the right place for you. We are
            currently expanding, so take advantage of this opportunity to work
            at our stylish downtown salon and expand your skills through our
            Associate Program.
          </p>

          <em>Interested in joining our team?</em>

          <p class="fw-normal">
            Please, come and show us your resume and samples of your work!
          </p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer'); %>
  </body>
</html>
